@tailwind base;
@tailwind components;
@tailwind utilities;
html,body{
  height: 100%;
  width: 100%;
}
:root {
  /* All Background-Color Here */
  --bg1:#001E2B;
  --bg2:#000000;
  --bg3:#023430;

  --bg4:#21313c;
  --bg5:#27455c;
  --bg6:#00684a;

  --bg7:#42494f;
  --bg8:#3d4f58;
  --bg9:#555555;
  
  --bg9:#006cfa;
  --bg10:#3860be;
  --bg11:#656565;

  --bg12:#5d6c74;
  --bg13:#696969;
  --bg14:#13aa52;

  --bg15:#00ed64;
  --bg16:#6cc04a;
  --bg17:#b8c4c2;

  --bg18:#a6ffec;
  --bg19:#002a4a;
  --bg20:#ffffff;
  --bg21:#061621;

  /* All Highlight-Color Here */
  --high1:#00ED64;
  /* All Text-Color Here */
  --text1:#ffffff;
  --text2:#b8c4c2;
  --text3:#001e2b;
  --text4:#001e2b;
  --text5:#3d4f58;
  /* All Shadows-Color Here */
}

.cashbox{
  backdrop-filter: blur(50.89714431762695px);
  background: rgba(255, 255, 255, 0.2);
}

.placeholder-light::placeholder {
  color: #d3d3d3; 
  opacity: 1; 
}

.placeholder-light {
  color: #0a0a0a;
  font-style: italic;
  font-weight: 600;
}
.Toastify__toast-theme--colored.Toastify__toast--success {
  @apply bg-orange-500 text-[#fff]
}
/* Hide scrollbar but allow scrolling */
.scrollbar-hidden::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.scrollbar-hidden {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}